.leatlef-container {
  /*
    vw: ancho total de la pantalla del dispositivo
    vh: altura total de la pantalla del dispositivo
    */
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.filter {
  width: 15vw;
  height: 50vh;
  border: 2px solid red;
  left: 50px;
  bottom: 1px;
  position: absolute;
  background-color: white;
  z-index: 100;
}

.lol {
  vertical-align: middle;
  left: 50px;
  border: 2px solid red;
  height: "50vh";
  width: "50vh";
  display: block;
}
