.FilterButton{
    font-family: monospace, Arial, Helvetica, sans-serif;
}
button{
    color:#444;
    background-color: white;
    border: none;
    border-radius: 5%;
    box-shadow: 0.5px 0.5px 1.5px 1.5px rgba(0, 0, 0, 0.3)
}
span{text-transform:capitalize;}

li {list-style: none;}

label img{
    height: 3vh ;
    width: 5ch;
}